### Training and comparison

Objective: Usage of multiple models to compare the training of the models

In [ ]:
#Importing most used modules
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_palette('viridis')

# 1. Loading pre-processed data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Pós-Graduação/2o Semestre/Aprendizado de Máquinas e Reconhecimento de padrões/Health Insurance/lead_data_numeric_OHE_rebalanced.csv')

In [ ]:
df.head()

,Unnamed: 0,Age,Age_Gap,Has_Own_House,Is_Spouse,Reco_Individual_Insurance,Reco_Policy_Premium,Holding_Policy_Duration,Health_Indicator_2,Health_Indicator_3,...,Region_Group_19,Holding_Policy_Type_1,Holding_Policy_Type_2,Holding_Policy_Type_3,Holding_Policy_Type_4,Reco_Policy_Groups_1,Reco_Policy_Groups_2,Reco_Policy_Groups_3,Reco_Policy_Groups_4,Response
0,0,36,0,1,0,1,11628,15,0,0,...,0,0,0,1,0,0,0,0,1,0
1,1,22,53,0,0,0,30510,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,2,32,0,0,0,1,7450,1,0,0,...,0,1,0,0,0,0,0,1,0,1
3,3,48,4,0,0,0,17780,15,0,0,...,0,0,0,1,0,0,0,1,0,0
4,4,44,0,1,0,1,10404,3,1,0,...,0,1,0,0,0,1,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77346 entries, 0 to 77345
Data columns (total 44 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 77346 non-null  int64
 1   Age                        77346 non-null  int64
 2   Age_Gap                    77346 non-null  int64
 3   Has_Own_House              77346 non-null  int64
 4   Is_Spouse                  77346 non-null  int64
 5   Reco_Individual_Insurance  77346 non-null  int64
 6   Reco_Policy_Premium        77346 non-null  int64
 7   Holding_Policy_Duration    77346 non-null  int64
 8   Health_Indicator_2         77346 non-null  int64
 9   Health_Indicator_3         77346 non-null  int64
 10  Health_Indicator_4         77346 non-null  int64
 11  Health_Indicator_5         77346 non-null  int64
 12  City_Group_1               77346 non-null  int64
 13  City_Group_2               77346 non-null  int64
 14  City_Group_3               77346 non-null  int64
 15  City_Group_4               77346 non-null  int64
 16  Region_Group_1             77346 non-null  int64
 17  Region_Group_2             77346 non-null  int64
 18  Region_Group_3             77346 non-null  int64
 19  Region_Group_4             77346 non-null  int64
 20  Region_Group_5             77346 non-null  int64
 21  Region_Group_6             77346 non-null  int64
 22  Region_Group_7             77346 non-null  int64
 23  Region_Group_8             77346 non-null  int64
 24  Region_Group_9             77346 non-null  int64
 25  Region_Group_10            77346 non-null  int64
 26  Region_Group_11            77346 non-null  int64
 27  Region_Group_12            77346 non-null  int64
 28  Region_Group_13            77346 non-null  int64
 29  Region_Group_14            77346 non-null  int64
 30  Region_Group_15            77346 non-null  int64
 31  Region_Group_16            77346 non-null  int64
 32  Region_Group_17            77346 non-null  int64
 33  Region_Group_18            77346 non-null  int64
 34  Region_Group_19            77346 non-null  int64
 35  Holding_Policy_Type_1      77346 non-null  int64
 36  Holding_Policy_Type_2      77346 non-null  int64
 37  Holding_Policy_Type_3      77346 non-null  int64
 38  Holding_Policy_Type_4      77346 non-null  int64
 39  Reco_Policy_Groups_1       77346 non-null  int64
 40  Reco_Policy_Groups_2       77346 non-null  int64
 41  Reco_Policy_Groups_3       77346 non-null  int64
 42  Reco_Policy_Groups_4       77346 non-null  int64
 43  Response                   77346 non-null  int64
dtypes: int64(44)
memory usage: 26.0 MB

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)

# 2. Create a test set

In [ ]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, test_size=0.2, stratify=df['Response'], random_state=42)
# entender o que é o stratify e se devo usar

In [ ]:
print(f'**** Training set ****\n')
print(f'{df_train.info()}')
print(f'{df_train.shape}')

**** Training set ****

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61876 entries, 28149 to 51654
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        61876 non-null  int64
 1   Age_Gap                    61876 non-null  int64
 2   Has_Own_House              61876 non-null  int64
 3   Is_Spouse                  61876 non-null  int64
 4   Reco_Individual_Insurance  61876 non-null  int64
 5   Reco_Policy_Premium        61876 non-null  int64
 6   Holding_Policy_Duration    61876 non-null  int64
 7   Health_Indicator_2         61876 non-null  int64
 8   Health_Indicator_3         61876 non-null  int64
 9   Health_Indicator_4         61876 non-null  int64
 10  Health_Indicator_5         61876 non-null  int64
 11  City_Group_1               61876 non-null  int64
 12  City_Group_2               61876 non-null  int64
 13  City_Group_3               61876 non-null  int64
 14  City_Group_4               61876 non-null  int64
 15  Region_Group_1             61876 non-null  int64
 16  Region_Group_2             61876 non-null  int64
 17  Region_Group_3             61876 non-null  int64
 18  Region_Group_4             61876 non-null  int64
 19  Region_Group_5             61876 non-null  int64
 20  Region_Group_6             61876 non-null  int64
 21  Region_Group_7             61876 non-null  int64
 22  Region_Group_8             61876 non-null  int64
 23  Region_Group_9             61876 non-null  int64
 24  Region_Group_10            61876 non-null  int64
 25  Region_Group_11            61876 non-null  int64
 26  Region_Group_12            61876 non-null  int64
 27  Region_Group_13            61876 non-null  int64
 28  Region_Group_14            61876 non-null  int64
 29  Region_Group_15            61876 non-null  int64
 30  Region_Group_16            61876 non-null  int64
 31  Region_Group_17            61876 non-null  int64
 32  Region_Group_18            61876 non-null  int64
 33  Region_Group_19            61876 non-null  int64
 34  Holding_Policy_Type_1      61876 non-null  int64
 35  Holding_Policy_Type_2      61876 non-null  int64
 36  Holding_Policy_Type_3      61876 non-null  int64
 37  Holding_Policy_Type_4      61876 non-null  int64
 38  Reco_Policy_Groups_1       61876 non-null  int64
 39  Reco_Policy_Groups_2       61876 non-null  int64
 40  Reco_Policy_Groups_3       61876 non-null  int64
 41  Reco_Policy_Groups_4       61876 non-null  int64
 42  Response                   61876 non-null  int64
dtypes: int64(43)
memory usage: 20.8 MB
None
(61876, 43)

In [ ]:
df_train.head()

,Age,Age_Gap,Has_Own_House,Is_Spouse,Reco_Individual_Insurance,Reco_Policy_Premium,Holding_Policy_Duration,Health_Indicator_2,Health_Indicator_3,Health_Indicator_4,...,Region_Group_19,Holding_Policy_Type_1,Holding_Policy_Type_2,Holding_Policy_Type_3,Holding_Policy_Type_4,Reco_Policy_Groups_1,Reco_Policy_Groups_2,Reco_Policy_Groups_3,Reco_Policy_Groups_4,Response
28149,40,0,0,0,1,9136,11,0,0,0,...,0,0,0,1,0,0,0,0,0,0
57885,56,0,0,0,1,17490,15,0,0,0,...,0,1,0,0,0,1,0,0,0,1
26784,49,0,0,0,1,12200,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
21185,43,0,1,0,1,9086,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
58089,19,0,1,0,1,3080,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1

In [ ]:
print(f'**** Testing set ****\n')
print(f'{df_test.info()}')
print(f'{df_test.shape}')

**** Testing set ****

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15470 entries, 12251 to 26309
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        15470 non-null  int64
 1   Age_Gap                    15470 non-null  int64
 2   Has_Own_House              15470 non-null  int64
 3   Is_Spouse                  15470 non-null  int64
 4   Reco_Individual_Insurance  15470 non-null  int64
 5   Reco_Policy_Premium        15470 non-null  int64
 6   Holding_Policy_Duration    15470 non-null  int64
 7   Health_Indicator_2         15470 non-null  int64
 8   Health_Indicator_3         15470 non-null  int64
 9   Health_Indicator_4         15470 non-null  int64
 10  Health_Indicator_5         15470 non-null  int64
 11  City_Group_1               15470 non-null  int64
 12  City_Group_2               15470 non-null  int64
 13  City_Group_3               15470 non-null  int64
 14  City_Group_4               15470 non-null  int64
 15  Region_Group_1             15470 non-null  int64
 16  Region_Group_2             15470 non-null  int64
 17  Region_Group_3             15470 non-null  int64
 18  Region_Group_4             15470 non-null  int64
 19  Region_Group_5             15470 non-null  int64
 20  Region_Group_6             15470 non-null  int64
 21  Region_Group_7             15470 non-null  int64
 22  Region_Group_8             15470 non-null  int64
 23  Region_Group_9             15470 non-null  int64
 24  Region_Group_10            15470 non-null  int64
 25  Region_Group_11            15470 non-null  int64
 26  Region_Group_12            15470 non-null  int64
 27  Region_Group_13            15470 non-null  int64
 28  Region_Group_14            15470 non-null  int64
 29  Region_Group_15            15470 non-null  int64
 30  Region_Group_16            15470 non-null  int64
 31  Region_Group_17            15470 non-null  int64
 32  Region_Group_18            15470 non-null  int64
 33  Region_Group_19            15470 non-null  int64
 34  Holding_Policy_Type_1      15470 non-null  int64
 35  Holding_Policy_Type_2      15470 non-null  int64
 36  Holding_Policy_Type_3      15470 non-null  int64
 37  Holding_Policy_Type_4      15470 non-null  int64
 38  Reco_Policy_Groups_1       15470 non-null  int64
 39  Reco_Policy_Groups_2       15470 non-null  int64
 40  Reco_Policy_Groups_3       15470 non-null  int64
 41  Reco_Policy_Groups_4       15470 non-null  int64
 42  Response                   15470 non-null  int64
dtypes: int64(43)
memory usage: 5.2 MB
None
(15470, 43)

In [ ]:
df_test.head()

,Age,Age_Gap,Has_Own_House,Is_Spouse,Reco_Individual_Insurance,Reco_Policy_Premium,Holding_Policy_Duration,Health_Indicator_2,Health_Indicator_3,Health_Indicator_4,...,Region_Group_19,Holding_Policy_Type_1,Holding_Policy_Type_2,Holding_Policy_Type_3,Holding_Policy_Type_4,Reco_Policy_Groups_1,Reco_Policy_Groups_2,Reco_Policy_Groups_3,Reco_Policy_Groups_4,Response
12251,31,0,1,0,1,6300,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15666,24,0,1,0,1,4518,2,0,0,0,...,0,1,0,0,0,0,0,1,0,1
13006,48,11,0,1,0,18695,11,0,1,0,...,0,0,1,0,0,0,0,1,0,1
40235,26,0,0,0,1,6220,5,1,0,0,...,0,1,0,0,0,0,0,1,0,0
58261,75,0,0,0,1,21480,6,0,1,0,...,0,0,0,1,0,1,0,0,0,1

# 3. Saving DFs

In [ ]:
# Salvando

In [ ]:
df_train.to_csv('/content/drive/MyDrive/Pós-Graduação/2o Semestre/Aprendizado de Máquinas e Reconhecimento de padrões/Health Insurance/df_train.csv', index=False)
df_test.to_csv('/content/drive/MyDrive/Pós-Graduação/2o Semestre/Aprendizado de Máquinas e Reconhecimento de padrões/Health Insurance/df_test.csv', index=False)

# 4. Separate the features and the classes (target outcome)

## 4.1 Train

In [ ]:
# store the target outcome into a numpy array
y_train = df_train['Response'].values

In [ ]:
y_train.shape

(61876,)

In [ ]:
# overwrite the dataframe with only the features  
df_train = df_train.drop(columns=['Response'])

In [ ]:
df_train.shape

(61876, 42)

## 4.2 Test

In [ ]:
# store the target outcome into a numpy array
y_test = df_test['Response'].values

In [ ]:
y_test.shape

(15470,)

In [ ]:
# overwrite the dataframe with only the features  
df_test = df_test.drop(columns=['Response'])

In [ ]:
df_test.shape

(15470, 42)

# 5. Separate the numerical and categorical features
Since we perform different preprocessing tasks (transformations) to _numerical features_ and _categorical ones_, let's split them into two different dataframes.

In [ ]:
# numerical variables
num_vars = ['Age', 'Age_Gap', 'Reco_Policy_Premium', 'Holding_Policy_Duration']

# categorical binary variables
bin_vars = ['Has_Own_House', 'Is_Spouse', 'Reco_Individual_Insurance']

# categorical variables
cat_vars = ['Health_Indicator_2', 'Health_Indicator_3',
       'Health_Indicator_4', 'Health_Indicator_5', 'City_Group_1',
       'City_Group_2', 'City_Group_3', 'City_Group_4', 'Region_Group_1',
       'Region_Group_2', 'Region_Group_3', 'Region_Group_4', 'Region_Group_5',
       'Region_Group_6', 'Region_Group_7', 'Region_Group_8', 'Region_Group_9',
       'Region_Group_10', 'Region_Group_11', 'Region_Group_12',
       'Region_Group_13', 'Region_Group_14', 'Region_Group_15',
       'Region_Group_16', 'Region_Group_17', 'Region_Group_18',
       'Region_Group_19', 'Holding_Policy_Type_1', 'Holding_Policy_Type_2',
       'Holding_Policy_Type_3', 'Holding_Policy_Type_4',
       'Reco_Policy_Groups_1', 'Reco_Policy_Groups_2', 'Reco_Policy_Groups_3',
       'Reco_Policy_Groups_4']

In [ ]:
len(df_train.columns)

42

In [ ]:
len(num_vars),len(bin_vars),len(cat_vars)

(4, 3, 35)

In [ ]:
## separating the features into specific dataset according to their type
df_train_num = df_train[num_vars]
df_train_bin = df_train[bin_vars]
df_train_cat = df_train[cat_vars]

# 6. Creating the Preprocessing Pipeline

In [ ]:
from sklearn.impute import SimpleImputer # Ainda nao tirei pq preciso disso para a parte de bin e cat pipelines
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer #utpreciso utilizar pois tenho diferentes tipos de dados - numericos, binarios e categoricos

num_pipeline = Pipeline([('imputer', SimpleImputer(strategy='median')),('robust_scaler', RobustScaler())])

bin_pipeline = Pipeline([('imputer', SimpleImputer(strategy='most_frequent'))])

cat_pipeline = Pipeline([('imputer', SimpleImputer(strategy='most_frequent'))])

# (name, transformer, columns)
preprocessed_pipeline = ColumnTransformer([
    ('numerical', num_pipeline, num_vars),
    ('binary', bin_pipeline, bin_vars),
    ('categorical', cat_pipeline, cat_vars)
])

# 7. Getting the independent (features) and classes (outcome)

In [ ]:
X_train = preprocessed_pipeline.fit_transform(df_train)
X_train.shape

(61876, 42)

In [ ]:
# we already have y_train
y_train.shape

(61876,)

# 8. Train ML Algorithms

Light Gradient Boosting Machine

Gradient Boosting Classifier	

Random Forest Classifier

Extra Trees Classifier

Decision Tree Classifier

In [ ]:
# printing function
def display_scores(scores):
    print("Scores:", scores)
    print("\nMean:", scores.mean())
    print("Standard deviation:", scores.std())

## 8.1 Light Gradient Boosting Machine

## 8.2 Gradient Boosting Classifier

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier()

gb.fit(X_train, y_train)
gb_accs = cross_val_score(gb, X_train, y_train, scoring="accuracy", cv=5)

display_scores(gb_accs)

Scores: [0.58031674 0.58448485 0.58391919 0.57583838 0.58537374]

Mean: 0.5819865807395219
Standard deviation: 0.003522437906989885

## 8.3 Radom Forest Classifier

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

rnd_clf = RandomForestClassifier(n_estimators=70,
                                 max_leaf_nodes=None,
                                 bootstrap=True,
                                 oob_score=True)
#
rnd_clf.fit(X_train, y_train)
rnd_clf_accs = cross_val_score(rnd_clf, X_train, y_train, scoring="accuracy", cv=5)

display_scores(rnd_clf_accs)

Scores: [0.86546542 0.85769697 0.87111111 0.85721212 0.85858586]

Mean: 0.862014295508413
Standard deviation: 0.005442731907480494

## 8.4 Extra Trees Classifier

## 8.5 Decision Tree Classifier

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier() # esse é o meu ESTIMATOR
dt.fit(X_train, y_train)

dt_cross_val = cross_val_score(dt, X_train, y_train, scoring="accuracy", cv=5)
display_scores(dt_cross_val) 

# return: Array of scores of the estimator for each run of the cross validation. 
# Ou seja, accuracy de cada folder

Scores: [0.80551067 0.79531313 0.80460606 0.80040404 0.80266667]

Mean: 0.8017001129589365
Standard deviation: 0.0036434162375482988

In [ ]:
y_test_pred = dt.predict(df_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
# Fazer desenho da árvore de decisão
#from sklearn import tree
#tree.plot_tree(df, filled=True, rounded=True)

In [ ]:
#import graphviz
#from sklearn import tree
#dot_data = tree.export_graphviz(df, out_file=None, filled=True, rounded=True)
#graph = graphviz.Source(dot_data, format = 'png')
#graph